body {
    margin: auto;
    background-color: gainsboro;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;

}
html{
    scroll-behavior: smooth;
}
body div,
main,
header,
section {
    margin: auto;
}

header {
    margin: auto;
    padding: 5px;
}

#mysidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -350px;
    background-color: rgb(47, 71, 104);
    padding-top: 60px;
    transition: left 0.5s ease;
}

#mysidenav a {
    padding: 8px 8px 8px 3px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

#mysidenav a:hover {
    font-weight: bold;
}

#mysidenav ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
}

#mysidenav ul li {
    padding-top: 30px;
}

#mysidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/***************************main****************************************/
main {
    margin: auto;
    padding: 20px;
    background: url("album/fond.jpg");
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(47, 71, 104)), url("album/fond.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main_div {
    margin-top: 200px;
    margin-bottom: 150px;
}

.main_div h1 {
    letter-spacing: 2px;
    color: white;
    font-size: 50px;
}

.main_div p {
    font-size: large;
    color: white;
    padding-bottom: 20px;
}

.main_div a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 6px;
    transition: 0.5s;
}
.main_div a:hover{
    background-color: white;
    color: inherit;
    letter-spacing: 1px;
}


/****************************************second_tittre******************************************/
.second_tittre {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.second_tittre h2 {
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(47, 71, 104);
}

.second_tittre h3 {
    font-weight: normal;
    letter-spacing: 1px;
    color: rgb(47, 71, 104, 0.5);
}

/*****************************service*************************************************/
.contenaire_service {
    background-color: gainsboro;
    padding: 20px;
    margin-bottom: 100px;
}

.service {
    margin-top: auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service div {
    margin-top: 50px;
    flex-basis: 18%;
    padding: 20px;
    padding-top: 30;
    padding-bottom: 30;
    color: white;
}

.background {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(47, 71, 104)), url("album/servicefont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_change {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(176, 0, 88)), url("album/servicefont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service div h3 {
    letter-spacing: 2px;
}

.service div p {
    text-align: justify;
}

/******************************************section*****************************/
section {
    background-color: gray;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section div {
    flex-basis: 40%;
    box-sizing: content-box;
    color: white;
}

section div h3 {
    font-size: 35px;
}

section div p {
    text-align: justify;
}

section div h4 {
    font-size: 20px;
}

section div a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 6px;
    transition: 0.5s;
}

section div a:hover {
    background-color: white;
    color: gray;
    transition: 0.5s;
}

section div img {
    width: 100%;
    height: 550px;
}

.section_div_image {
    text-align: center;
}

/**************************************************************************/
article {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

article div {
    margin-top: 50px;
    flex-basis: 15%;
    padding: 10px;
    box-sizing: content-box;
}

article div h4 {
    font-size: 20px;
}

article div img {
    width: 100%;
    height: 300px;
}

.article_div_un {
    background-color: rgb(47, 71, 104);
    text-align: center;
    color: white;
}

.article_div_deux {
    color: rgb(47, 71, 104);
}

.article_div_deux a {
    text-decoration: none;
    color: rgb(47, 71, 104);
    border: 1px solid rgb(47, 71, 104);
    text-transform: uppercase;
    padding: 5px;
    transition: ease 0.5s;
}

.article_div_deux a:hover {
    background-color: rgb(47, 71, 104);
    color: gainsboro;
    transition: ease 0.5s;
}

.article_div_trois {
    text-align: center;
}

.article_div_quatre {
    background-color: rgb(47, 71, 104, 0.3);
    color: rgb(47, 71, 104);
    text-align: center;
}

/***********************************************cooperation********************************/
.cooperation {
    margin-top: 50px;
    background: linear-gradient(rgb(47, 71, 104), rgb(0, 0, 0, 0.5)), url("album/coopertaion.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
}

/*****************************************************/
.besoin_demande {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgb(47, 71, 104);
    word-wrap: break-word;
    position: relative;
    bottom: 50px;

}

.besoin_demande h3 {
    color: white;
    font-size: 35px;
}

.besoin_demande p {
    color: white;
}

/*********************************aside****************************************/
aside {
    padding: 10px;
}

aside h3 {
    text-align: center;
    color: rgb(47, 71, 104);
    font-size: 30px;
}

aside h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.aside_contenaire {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.aside_contenaire div {
    flex-basis: 25%;
    margin-top: 50px;
    padding: 10px;
    text-align: justify;
}

.aside_contenaire div h4 {
    font-size: 25px;

}

.aside_contenaire_div_un {
    background-color: rgb(47, 71, 104, 0.3);
    color: white;
}

.aside_contenaire_div_deux {
    background-color: rgb(121, 118, 118, 0.1);
    color: rgb(47, 71, 104);
}

.aside_contenaire_div_deux h4 {
    color: rgb(47, 71, 104);
}

.aside_contenaire_div_trois {
    background-color: rgb(47, 71, 104);
    color: white;
}

/********************************apropos******************************************/
.apropos {
    margin-top: 50px;
    padding: 30px;
    background-color: rgb(149, 145, 145);
}

.apropos_contenaire {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.apropos_contenaire div {
    flex-basis: 40%;
}

.apropos_contenaire div h4 {
    color: rgb(47, 71, 104);
    font-size: 30px;
}

.apropos_contenaire div p {
    text-align: justify;
    color: rgb(47, 71, 104);
}

.apropos_contenaire div img {
    width: 100%;
}

/************************contact******************************************/
.contact {
    background-color: rgb(47, 71, 104);
    padding: 20px;
}

.contact_contenaire {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact_contenaire div {
    flex-basis: 40%;
}

.contact_contenaire div h4 {
    color: rgb(47, 71, 104);
    font-size: 25px;
}

.contact_contenaire div ul li {
    color: rgb(47, 71, 104);
    word-spacing: 5px;
}

.form p {
    color: rgb(47, 71, 104);
    font-weight: bold;
}

.form input {
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    border-bottom: 2px solid gray;
    outline-color: red;
}
.form input::-webkit-input-placeholder{
    opacity: 0.3;
    font-style: oblique;
}
.form textarea {
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: 2px solid gray;
    outline-color: red;
}
.form textarea::-webkit-input-placeholder{
    opacity: 0.3;
    font-style: oblique;
}
.form button {
    text-transform: uppercase;
    background-color: rgb(47, 71, 104);
    color: white;
    border: none;
    padding: 15px;
    transition: ease-in-out 0.5s;
}

.form button:hover {
    padding: 20px;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

/*************************************footer**********************************/
footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    font-size: small;
}

/******************************media*******************************************/
@media screen and (max-width:1180px) {
    .main_div {
        margin-top: 150px;
    }

    .service div {
        flex-basis: 40%;
    }

    article div {
        flex-basis: 40%;
        height: 300px;
    }

    article div p {
        padding-top: 50px;
    }

    .article_div_deux h4 {
        padding-bottom: 60px;
    }

    .besoin_demande {
        width: 60%;
    }
}

@media screen and (max-width:800px) {
    .main_div {
        margin-top: 100px;
    }

    .service div {
        flex-basis: 100%;
    }

    section div {
        padding: 10px;
        flex-basis: 100%;
        margin-top: 10px;
    }

    article div {
        flex-basis: 80%;
    }

    .aside_contenaire div {
        flex-basis: 100%;

    }

    .besoin_demande {
        width: 75%;
    }

    .apropos_contenaire div {
        flex-basis: 100%;
    }

    .contact_contenaire {
        width: 90%;
    }

    .contact_contenaire div {
        flex-basis: 100%;
        padding: 10px;
    }
}