body {
    margin: auto;
    padding: auto;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

header {
    padding: 1px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(150, 3, 3);
}

.sid_nav_barre {
    position: fixed;
    width: 100%;
    right: -100%;
    height: 350px;
    background-color: rgb(150, 3, 3);
    transition: ease-in-out 0.5s;
}

.sid_nav_barrejs {
    right: -0%;
    transition: ease-in-out 0.5s;
}

.close {
    cursor: pointer;
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.close:hover {
    font-size: 30px;
}

.sid_nav_barre ul {
    position: relative;
    top: 25px;
    right: 30px;
}

.sid_nav_barre ul li {
    list-style-type: none;
    padding: 10px;
}

.sid_nav_barre ul li a {
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.sid_nav_barre ul li a:hover {
    font-weight: bold;
    transition: ease 0.5s;
}

.openMenu {
    cursor: pointer;
    display: none;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    padding: 0px 10px 0px 10px;
    display: inline-block
}

nav ul li a {
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    color: white;
    background-color: rgb(85, 80, 80, 0.5);
    border-radius: 4px;
    background-color: white;
    color: rgb(150, 3, 3);
    transition: ease 0.5s
}

nav ul li a:hover {
    font-weight: bold;
    letter-spacing: 1px;
    transition: ease 0.5s
}

/****************************main*******************/
main {
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1489514354504-1653aa90e34e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29uc3RydWN0aW9ufGVufDB8fDB8fHww");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    word-wrap: break-word;
    color: white;
}

main h1 {
    font-size: 100px;
}
main h2{
    font-size:50px;
}
main h3{
    font-size: 20px;
}
/**********************************/

section {
    margin: auto;
    padding: 10px;

}

section div {
    margin: auto;
    padding: 20px;
    word-wrap: break-word;

}

.services {
    margin-top: 100px;
    animation: monAnim 5s alternate infinite;
}

@keyframes monAnim {
    form {
        background: white;
        transition: 0.5s;
    }

    to {

        background: url(../img/brand.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 0.5s;
    }
}

.services h3 {
    color: gray;
}

.services p {
    padding-top: 20px;
}

.services ul {
    padding-top: 50px;
}

.services ul li {
    padding-top: 10px;
    list-style-type: none;
    font-weight: bold;
    color: #343a40;
}

.equipe {
    margin-top: 100px;
    margin-bottom: 100px;
}

.equipe h3 {
    color: gray;
}

.prestataire {
    margin: auto;
    margin-top: 100px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;


}

article {
    margin: auto;
    flex-basis: 23%;
    padding: auto;
    text-align: center;
    box-sizing: content-box;
    color: gray;
    border-bottom: 1px solid gray;
    transition: 0.5s;
}

article img {
    width: 100%;
    height: 200px;
}

.articleJSeffet {
    flex-basis: 30%;
    background-color: gray;
    color: white;
    border-bottom: none;
    transition: 0.5s;
}

.realisations {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.realisations h2
 {
    text-align: left;
}

.realisations h3 {
    padding-bottom: 50px;
    color: gray;
}

.realisations img {
    width: 40%;
    padding: 5px;
    transition: 0.5s;
}

.realisations img:hover {
    width: 41%;
    background-color: whitesmoke;
}

.partenaires h3 {
    color: gray;
}

.listepartenaires {
    margin: auto;
    padding: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.listepartenaires div {
    text-align: center;
    flex-basis: 15%;
    box-shadow: 0px 0px 2px gainsboro;

    box-sizing: content-box;
}

.listepartenaires div img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px gainsboro;
    transition: 0.5s;
}

.localisation h3 {
    color: gray;
}

#map {
    margin: auto;
    height: 500px;
}

.contact h3 {
    color: gray;
}

.formulaire_contact {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 65%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 8px gainsboro;
    background-color: white;
}

form input {
    font-style: normal;
    background-color: white;
    color: black;
}

form input[type="text"],
input[type="tel"],
form input[type="email"] {
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid gray;
    outline-color: red;
}

form input[type="text"],
input[type="tel"],
form input[type="email"]::-webkit-input-placeholder {
    opacity: 0.5;
    padding: 5px;

}

textarea {
    width: 90%;
    border-radius: 2px;
    padding: 5px;
    outline-color: red;
}

button {
    width: 40%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: rgb(150, 3, 3);
    color: white;
    transition: 0.5s;
}

button:hover {
    font-weight: bold;
    transition: 0.5s;
}

footer {
    margin-top: 200px;
}

footer a {
    text-decoration: none;
    color: gray;
}

.copyright {
    font-size: small;
    text-align: center;
    color: rgb(150, 3, 3);
}

@media screen and (max-width:700px) {
    header {
        display: block;
        width: 100%;
        height: 5%;
        z-index: 1;
    }

    .openMenu {
        display: block;
        padding: 5px;
    }

    nav {
        margin-top: 0%;
        display: none;
    }

    main h1 {
        font-size: 70px;
    }
    .logoimg {
        display: none;
    }

    article {
        margin: auto;
        flex-basis: 48%;
        margin-top: 10px;
    }

    .articleJSeffet {
        flex-basis: 50%;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .realisations img {
        width: 49%;
        padding: 0px;
    }

    .realisations img:hover {
        width: 50%;
    }

    .listepartenaires {
        margin-top: 0px;
    }

    .listepartenaires {
        flex-wrap: wrap;
    }

    .listepartenaires div {
        flex-basis: 30%;
        box-shadow: 0px 0px 3px gainsboro;
        margin-top: 10px;
    }

    .formulaire_contact {
        width: 70%;
    }

}

@media screen and (max-width:700px) {
    .services {
        animation: none;
    }

    article {
        margin: auto;
        flex-basis: 90%;
        margin-top: 10px;
    }

    .articleJSeffet {
        flex-basis: 90%;
        letter-spacing: 0px;
        transition: 0.5s;
    }

    .realisations img {
        width: 80%;
    }

    .realisations img:hover {
        width: 80%;
    }

    .formulaire_contact {
        width: 90%;
    }

    footer {
        margin-top: 100px;
    }
}